@model List<Shop.Model.Entities.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Danh sách sản phẩm</h5>
            <a href="/Administrator/Product/Create" class="btn btn-primary mb-2">Thêm mới</a>
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Các hình ảnh khác</th>
                        <th>Giá khuyến mãi</th>
                        <th>Giá gốc</th>
                        <th>Mô tả</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td><img style="width:50px;height:50px" src="~/assets/images/product/@item.Image" /></td>
                            <td><img style="width:50px;height:50px" src="~/assets/images/product/@item.MoreImage" /></td>
                            <td>@item.Promotion</td>
                            <td>@item.Price</td>
                            <td id="description">@item.Description</td>
                            <td>
                                <a href="/Administrator/Product/Edit/@item.Id"><i class="fa fa-paint-brush"></i></a> |
                                <a href="/Administrator/Product/Delete/@item.Id" onclick="return confirm('Bạn có chắc chắn xóa?');"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




