@model List<Shop.Model.Entities.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}


<h1>Index</h1>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Danh sách khách hàng</h5>
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>Mã khách hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Giới tính</th>
                        <th>Hình ảnh</th>
                        <th>Phản hồi</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CustomerId</td>
                            <td>@item.Name</td>
                            <td>@item.DateOfBirth.ToShortDateString()</td>
                            <td>@item.Address</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.Gender</td>
                            <td><img style="width:50px;height:50px" src="~/assets/images/avaters/@item.Image" /></td>
                            <td>@item.CustomerFeedback</td>
                            <td>
                                <a href="/Administrator/Customer/Delete/@item.CustomerId" onclick="return confirm('Bạn có chắc chắn xóa?');"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>






