@model List<Shop.Model.Entities.Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Danh sách bài viết</h5>
            <a href="/Administrator/Post/Create" class="btn btn-primary mb-2">Thêm mới</a>
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>Mã bài viết</th>
                        <th>Tên bài viết</th>
                        <th>Hình ảnh</th>
                        <th>Mô tả</th>
                        <th>Ngày viết</th>
                        <th>Nội dung</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td><img style="width:50px;height:50px" src="~/assets/images/posts/@item.Image" /></td>
                            <td>@item.Description</td>
                            <td>@item.WriteDate</td>
                            <td id="content">@item.Content</td>
                            <td>
                                <a href="/Administrator/Post/Edit/@item.Id"><i class="fa fa-paint-brush"></i></a> |
                                <a href="/Administrator/Post/Delete/@item.Id" onclick="return confirm('Bạn có chắc chắn xóa?');"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





